<!DOCTYPE html>
<html lang="en">
  <%- include ('../../partials/header') %>
  <script
    src="https://cdn.tiny.cloud/1/q58t1lyuwiyudscge4q30edftynwhcakpj8ndm7psf985yin/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>
  <body>
    <%- include ('../../partials/navbar') %>
    <div class="container">
      <br />
      <div class="card">
        <div class="card-header">
          <a href="/blog/admin/articles" class="pull-right">Voltar</a>
          <hr />
          <h2>Editar <%= art.title %></h2>
        </div>
        <div class="card-body">
          <form method="POST" action="article">
            <input type="hidden" value="<%= art.id %>" name="id" />
            <div class="form-group">
              <label for="select">Selecione a Categoria</label>
              <select class="form-control" id="select" name="category">
                <% categories.forEach((c)=> { if( c.id == art.categoryId ){ %>
                <option selected value="<%= c.id %>"> <%=c.title %> </option>
                <%} else {%>
                <option value="<%= c.id %>"> <%=c.title %> </option>
                <%}})%>
              </select>
            </div>
            <br />
            <label for="title">Titulo</label>
            <input
              id="title"
              type="text"
              name="title"
              value="<%= art.title %>"
              class="form-control"
              placeholder="Defina um titulo"
            />
            <br />
            <label for="desc">Artigo</label>
            <textarea
              rows="30"
              name="desc"
              id="desc"
              placeholder="escreva seu artigo"
              class="form-control"
            >
              <%= art.body %> 
            </textarea>
            <br />
            <button class="btn btn-success">Atualizar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include ('../../partials/footer') %>
  <script src="../tinymce/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: "#desc",
      language: "pt_BR",
      plugins: [
        "advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons",
      ],
    });
  </script>
</html>
